<a href="https://colab.research.google.com/github/SALMASHERIF93/Applied-Data-Science-Capestone/blob/master/3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import geocoder

ModuleNotFoundError: ignored

In [13]:
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikipedia_page = requests.get(wikipedia_link, headers = headers)
wikipedia_page

In [16]:
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
table = soup.find('table', {'class':'wikitable sortable'}).tbody

In [17]:
rows = table.find_all('tr')

In [18]:
columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]

In [19]:
df = pd.DataFrame(columns = columns)

In [20]:
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

        df

In [21]:
df.head()

      Location                     London borough  ... Dial code OS grid ref
0   Abbey Wood             Bexley,  Greenwich [7]  ...       020    TQ465785
1        Acton  Ealing, Hammersmith and Fulham[8]  ...       020    TQ205805
2    Addington                         Croydon[8]  ...       020    TQ375645
3   Addiscombe                         Croydon[8]  ...       020    TQ345665
4  Albany Park                             Bexley  ...       020    TQ478728

[5 rows x 6 columns]

In [22]:
df = df.rename(index=str, columns = {'Location': 'Location', 'London\xa0borough': 'Borough', 'Post town': 'Post-town', 'Postcode\xa0district': 'Postcode', 'Dial\xa0code': 'Dial-code', 'OS grid ref': 'OSGridRef'})

In [23]:
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

In [24]:
df0 = df.drop('Postcode', axis=1).join(df['Postcode'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('Postcode'))

In [25]:
df1 = df0[['Location', 'Borough', 'Postcode', 'Post-town']].reset_index(drop=True)

In [26]:
df1.head()

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [27]:
df2 = df1

In [28]:
df21 = df2[df2['Post-town'].str.contains('LONDON')]

In [29]:
df21.head(10)

       Location                         Borough Postcode Post-town
0    Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1         Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2         Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3         Angel                       Islington      EC1    LONDON
4         Angel                       Islington       N1    LONDON
5    Church End                           Brent     NW10    LONDON
6    Church End                          Barnet       N3    LONDON
7       Clapham             Lambeth, Wandsworth      SW4    LONDON
8   Clerkenwell                       Islington      EC1    LONDON
10    Colindale                          Barnet      NW9    LONDON

In [30]:
df3 = df21[['Location', 'Borough', 'Postcode']].reset_index(drop=True)

In [31]:
df_london = df3

In [56]:
def get_latlng(arcgis_geocoder):
    
    
    lat_lng_coords = None
    
   
    
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [34]:
postal_codes = df_london['Postcode']

In [ ]:

df_london_loc = df_london
df_london_ geocoder= pd.DataFrame(geocoder, columns = ['Latitude', 'Longitude'])
df_london_loc['Latitude'] = df_london_coordinates['Latitude']
df_london_loc['Longitude'] = df_london_coordinates['Longitude']

In [38]:
df_london_loc.head()

     Location                         Borough Postcode
0  Abbey Wood             Bexley,  Greenwich       SE2
1       Acton  Ealing, Hammersmith and Fulham       W3
2       Acton  Ealing, Hammersmith and Fulham       W4
3       Angel                       Islington      EC1
4       Angel                       Islington       N1